$primary-color: #655dbb;
$secondary-color: #bface2;
$third-color: #3e54ac;
$my-black: #2c3333;

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
